<phpunit
		bootstrap="./orm_phpunittest_environment.php"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		colors="true"
		stopOnIncomplete="true"
		stopOnError="false"
		stopOnFailure="false"
		stopOnRisky="true"
		stopOnSkipped="false"
		processIsolation="true">
	<testsuites>
		<testsuite name="all">
			<directory suffix="Test.php">./</directory>
		</testsuite>
	</testsuites>
</phpunit>
