<phpunit
		bootstrap="./orm_phpunittest_environment.php"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		colors="true"
		stopOnIncomplete="false"
		stopOnError="false"
		stopOnFailure="false"
		stopOnRisky="true"
		stopOnSkipped="false"
		processIsolation="false">
	<testsuites>
		<testsuite name="unittests">
			<directory suffix="Test.php">./unit</directory>
		</testsuite>
	</testsuites>
</phpunit>
